
@keyframes pulsered {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
    }
}

#telephone_number_2>div {
    box-shadow: 0 0 0 0 #0000FF;
    background: #0000FF;
    color: #fff !important;
    animation: pulsered 2s infinite;
}
#telephone_number_2 svg,
#telephone_number_2 span,
#telephone_number_2 div,
#telephone_number_3 svg,
#telephone_number_3 span,
#telephone_number_3 div {
    color: #fff;
}
.pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: 120px 14px;
    background-size: 120px 14px
}

.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #515151
}

.pac-item:hover {
    background-color: #fafafa
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: #ebf2fe
}

.pac-matched {
    font-weight: 700
}

.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}

.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    -webkit-background-size: 34px 34px;
    background-size: 34px
}

.hdpi .pac-icon {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}

.pac-icon-search {
    background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}

.pac-icon-marker {
    background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}

.pac-placeholder {
    color: gray
}

.pac-target-input:-webkit-autofill {
    -webkit-animation-name: beginBrowserAutofill;
    animation-name: beginBrowserAutofill
}

.pac-target-input:not(:-webkit-autofill) {
    -webkit-animation-name: endBrowserAutofill;
    animation-name: endBrowserAutofill
}

sentinel {}
</style>
<style type="text/css">
@charset "UTF-8";

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}
.fixed-footer {
    padding: 0.75rem 0;
    position: fixed;
    bottom: 0;
    background-color: #eee;
    z-index: 2;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fixed-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed-footer .container h3 {
    font-size: clamp(18px, calc(5.6004618938px + 1.6166281755vw), 25px);
    width: max-content;
    margin-bottom: 0;
    margin-top: 0;
}

.call-to-action.cta-container {
    text-align: center;
}

.btn.btn-yellow {
    box-shadow: 0 0 0 0 #FDB512;
    background: #FDB512;
    border-radius: 50px;
    border: 2px solid transparent;
    color: #414141 !important;
    font-size: clamp(15px, calc(11.3422818792px + 0.6711409396vw), 18px) !important;
    animation: pulse 2s infinite;
    padding: 9px 32px;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 28px;
    font-weight: bold;
}

.fixed-footer .container::before,
.fixed-footer .container::after {
    display: none;
}

body {
    padding-bottom: 85px;
}

.call-to-action.cta-container a {
    display: block;
    margin: 0;
}

.fixed-footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.cta-container .cta-title {
    color: #414141;
    font-size: 18px;
    font-weight: 700;
}

.cta-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3333rem;
}

@media (max-width:767px) {
    .cta-container .cta-title {
        font-size: 13px;
    }

    .fixed-footer .container h3 {
        display: none;
    }

    .call-to-action.cta-container,
    .call-to-action.cta-container a {
        width: 100%;
    }

    .fixed-footer .container {
        padding: 0 15px;
    }
}
